<div class="item">
            <div>Avatar URL</div>
            <div>
                <input type="url" name="avatar_url" placeholder="https://" value="{{student.avatar_url}}">
            </div>
        </div>

        <div class="item">
            <div>Aluno</div>
            <div>
                <input type="text" name="name" placeholder="Inserir Nome" value="{{student.name}}">
            </div>
        </div>

         <div class="item">
            <div>E-mail</div>
            <div>
                <input type="email" name="email" placeholder="Inserir Email" value="{{student.email}}">
            </div>
        </div>       

        <div class="item">
            <div>Data de Nascimento</div>
            <div>
                <input type="date" name="birth" value="{{student.birth}}">
            </div>
        </div>

        <div class="item">
            <div>Ano Escolar</div>
            <div>
                <select name="grade">
                    <option value="5EF"
                        {%if student.grade=="5EF"%}checked{% endif %}
                    >5° ano ensino fundamental</option>
                    <option students.grade="6EF"
                        {%if s=="6EF"%}checked{% endif %}
                    >6° ano ensino fundamental</option>
                    <option value="7EF"
                        {%if student.grade=="7EF"%}checked{% endif %}
                    >7° ano ensino fundamental</option>
                    <option value="8EF"
                        {%if student.grade=="8EF"%}checked{% endif %}
                    >8° ano ensino fundamental</option>
                    <option value="9EF"
                        {%if student.grade=="9EF"%}checked{% endif %}
                    >9° ano ensino fundamental</option>
                    <option value="1EM"
                        {%if student.grade=="1EM"%}checked{% endif %}
                    >1° ano ensino médio</option>
                    <option value="2EM"
                        {%if student.grade=="2EM"%}checked{% endif %}
                    >2° ano ensino médio</option>
                    <option value="3EM"
                        {%if student.grade=="3EM"%}checked{% endif %}
                    >3° ano ensino médio</option>
                </select>
            </div>
        </div>

        <div class="item">
            <div>Carga Horária Semanal</div>
            <div>
                <input type="number" name="studyload" value="{{student.studyload}}">
            </div>
        </div>
         
        
        <button type="submit">Salvar</button>
        
</div>