<div class="item">
            <div>Avatar URL</div>
            <div>
                <input type="url" name="avatar_url" placeholder="https://" value="{{teacher.avatar_url}}">
            </div>
        </div>

        <div class="item">
            <div>Professor</div>
            <div>
                <input type="text" name="name" placeholder="Inserir Nome" value="{{teacher.name}}">
            </div>
        </div>

        <div class="item">
            <div>Data de Nascimento</div>
            <div>
                <input type="date" name="birth" value="{{teacher.birth}}">
            </div>
        </div>

        <div class="item">
            <div>Grau de Escolaridade</div>
            <div>
               <select name="graduation">
                <option value="medio">Ensino Médio Completo</option>
                <option value="superior">Ensino Superior Completo</option>
                <option value="mestrado">Mestrado</option>
                <option value="doutorado">Doutorado</option>
               </select>
            </div>
        </div>

        <div class="item">
            <div>Modalidade</div>
            <div>
                <input type="radio" name="modalidade" value="P" {% if teacher.modalidade == "P" %}
                checked
                {% endif %} ><span>Presencial</span>
                <input type="radio" name="modalidade" value="D" {% if teacher.modalidade == "D" %}
                checked
                {% endif %}><span>À Distância</span>
            </div>
        </div>

        <div class="item">
            <div>Área de atuação</div>
            <div>
                <input type="text" name="subjects" placeholder="Entre com as suas especialidades" value="{{teacher.subjects}}">
            </div>
        </div>       

        <button type="submit">Salvar</button>
